@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form action="/SubmitForm" method="post">
    <input type="submit" value="Submit">
</form>
<input action="/SubmitForm" method="post" type="submit" value="Submit">

<form action="/SubmitForm" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br><br>

    <input type="submit" value="Submit">
</form>



<!DOCTYPE html>
<html lang="en">
<style>
    * {
        margin-left: 20px;
    }

    strong {
        font-size: 40;
    }

    sup {
        margin-left: -0.0em;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Wakeel Furqan Ahmed - CV</title>
</head>

<body>
 
    <form action="/Form/SubmitForm" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>

        <input type="submit" value="Submit">
    </form>
    <form action="/SubmitForm" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>

        <input type="submit" value="Submit">
    </form>
    <form action="/SubmitForm" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <input type="submit" value="Submit">
    </form>

    <!-- <div class="text-center">
        <h1 class="display-4">Hello World from .Net 6</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <hr />
    </div>  -->
</body>

</html>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Vanilla JavaScript App</title>
</head>

<body>
  <main>
    <h1>Vanilla JavaScript App</h1>
  </main>
</body>

</html> -->
<!-- <div class="text-center">
    <h1 class="display-4">Hello World from .Net 6</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
</div> -->
